
#links {
	width: 100%;
	height: 10%;
	position: absolute;
	bottom: 0px;
	transition: 0.4s;
}
@media screen and (max-height: 640px) {
	#links {
		bottom: 10px;
	}
}
@media screen and (min-aspect-ratio: 19/9) {
	#links {
		visibility: hidden;
	}
}

#links .center { 
	width: 100%;
	padding: 0 6%;
	margin: center;
	display: flex;
	justify-content: space-around;
}

#links a {
	display: block;
	width: auto;
	height: auto;
	font-size: 0;
}

#links a:not(:last-child) {
	margin-right: 6%;
}

#links img {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 100%;
}